@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


@layer base {
  html {
    font-size: 87.5%;
    line-height: normal;
  }

  body {
    background-color: var(--surface-ground);
  }
}